.navbar-fixed
  nav
    .nav-wrapper
      a.brand-logo href="#"  vWash
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a href='' Home
        li
          a href="sass.html"  Services
        li
          a href="badges.html"  About us
        li
          a href="collapsible.html"  Contact





.carousel.carousel-slider.center
  .carousel-fixed-item.center
    a.btn.waves-effect.white.grey-text.darken-text-2 button
  .carousel-item.red.white-text href="#one!" 
    = image_tag('4BW2.jpg' , class: 'responsive-img')
    h2 First Panel
    p.white-text This is your first panel
  .carousel-item.amber.white-text href="#two!"
    = image_tag('download.jpeg' , class: 'responsive-img') 
    h2 Second Panel
    p.white-text This is your second panel
  .carousel-item.green.white-text href="#three!" 
    = image_tag('bike-washing-service-500x500.jpg' , class: 'responsive-img')
    h2 Third Panel
    p.white-text This is your third panel
  .carousel-item.blue.white-text href="#four!" 
    = image_tag('service-page-mobile-car-wash-2500x1667.jpg' , class: 'responsive-img')
    h2 Fourth Panel
    p.white-text This is your fourth panel

